@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Space+Grotesk:wght@300..700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background: linear-gradient(rgba(2, 28, 43, 0.5), rgba(4, 4, 49, 0.5)), url('/img/pudim.jpg');
  background-size: cover;
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  font-family: "Space Grotesk", serif;
}

.navbar{
  background-color: rgba(0, 0, 0, 0.5);
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
}

.navbar a{
  text-decoration: none;
  color: #fff;
  font-size: 1.76rem;
  font-weight: 800;
}

ul li{
  display: inline;
  margin: 0 20px;
}

.container{
  margin-top: 100px;
  height: 100%;
  width: 50%;
  position: absolute;
  color: #fff;
  background-color: #3b3a36;
  gap: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
}

.container p{
  padding: 25px;
  font-style: italic;
  text-align: left;
  font-size: 1rem;
}

.container h1{
  color: #fff;
  text-align: center;
  font-size: 3rem;
  padding: 10px;
}

.container h2{
  color: #fff;
  text-align: center;
  font-size: 2rem;
  padding: 10px;
}
